@font-face {
	font-family: HelveticaNeueLTCom-Md;
	src:url(HelveticaNeueLTCom-Md.ttf);
}
@font-face {
	font-family: HelveticaNeueLTCom-Blk;
	src:url(HelveticaNeueLTCom-Blk.ttf);
}
html {
	margin:0px;
}

body {
	margin: 0px;
	background-color: #262626;
}

.logo {
	position: fixed;
	left: 63%;
	top: 250px;
	width: 350px;
	padding-top: 5px;
	margin: 0;
	-webkit-animation: fadein 4s;
	opacity: .2;
}
.logo:hover {
	cursor: pointer;
}

.portfolio {
	text-decoration: none;
	color:#7a7a7a;
	position: fixed;
	font-size: 70px;
	left: 87.5px;
	top: -15px;
	font-family: HelveticaNeueLTCom-Blk;
	z-index: -1;
}
.Home {
	text-decoration: none;
	position: fixed;
	font-size: 20px;
	color:#7a7a7a;
	left: 820px;
	top: 105px;
	font-family: HelveticaNeueLTCom-Md;
	letter-spacing: 1px;

}

.Home:hover {
	color:white;
	 transition:1s;

}

.design {
	text-decoration: none;
	position: fixed;
	font-size: 20px;
	color:white;
	left: 1030px;
	top: 105px;
	font-family: HelveticaNeueLTCom-Md;
	letter-spacing: 1px;

}

.design:hover {
	color:white;
	 transition:1s;
}

.visualarts {
	text-decoration: none;
	position: fixed;
	font-size: 20px;
	color:#7a7a7a;
	left: 1148px;
	top: 105px;
	font-family: HelveticaNeueLTCom-Md;
	letter-spacing: 1px;

}

.visualarts:hover {
	color:white;
	 transition:1s;

}

.contact {
	text-decoration: none;
	position: fixed;
	font-size: 20px;
	color:#7a7a7a;
	left: 1300px;
	top: 105px;
	font-family: HelveticaNeueLTCom-Md;
	letter-spacing: 1px;

}

.contact:hover {
	color:white;
	 transition:1s;

}

.cart351 {
	text-decoration: none;
	position: fixed;
	font-size: 20px;
	color:#7a7a7a;
	left: 910px;
	top: 105px;
	font-family: HelveticaNeueLTCom-Md;
	letter-spacing: 1px;
}

.cart351:hover {
	color:white;
	 transition:1s;

}

.designpic {

	position: absolute;
width: 24%;
left: 90px;
top: 140px;

/*animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
animation-delay: 5s;*/
}

.vispic {
	position: absolute;
width: 24%;
left: 90px;
top: 760px;
z-index: -1;
}

.Pic3 {
	position: absolute;
width: 50%;
left: 90px;
top: 1515px;
z-index: -1;
}

.Subtitle {
	text-decoration: bold;
	position: absolute;
	font-size: 28px;
	color:white;
	left: 89.5px;
	top: 80px;
	font-family: HelveticaNeueLTCom-Blk;

}
.Subtitle2 {
	text-decoration: bold;
	position: absolute;
	font-size: 32.9px;
	color:white;
	left: 89.5px;
	top: 680px;
	font-family: HelveticaNeueLTCom-Blk;

}
.Subtitle3 {
	text-decoration: bold;
	position: absolute;
	font-size: 32.9px;
	color:white;
	left: 89.5px;
	top: 1440px;
	font-family: HelveticaNeueLTCom-Blk;

}

.rectangle {
position: absolute;
top: 2070px;

}
